.DS_Store

/inventory-service/node_modules
/inventory-service/public/hot
/inventory-service/public/storage
/inventory-service/storage/*.key
/inventory-service/vendor
/inventory-service/.idea
/inventory-service/.vagrant
/inventory-service/Homestead.json
/inventory-service/Homestead.yaml
/inventory-service/npm-debug.log
/inventory-service/yarn-error.log
/inventory-service/.env
/inventory-service/_ide_helper.php

/product-service/node_modules
/product-service/public/hot
/product-service/public/storage
/product-service/storage/*.key
/product-service/vendor
/product-service/.idea
/product-service/.vagrant
/product-service/Homestead.json
/product-service/Homestead.yaml
/product-service/npm-debug.log
/product-service/yarn-error.log
/product-service/.env
/product-service/_ide_helper.php

/order-service/node_modules
/order-service/public/hot
/order-service/public/storage
/order-service/storage/*.key
/order-service/vendor
/order-service/.idea
/order-service/.vagrant
/order-service/Homestead.json
/order-service/Homestead.yaml
/order-service/npm-debug.log
/order-service/yarn-error.log
/order-service/.env
/order-service/_ide_helper.php
